footer {
    background-color: black;
    color: white;
    font-family: "RobotoMedium";
    line-height: 2rem;
    text-align: center;
    width: 100%;
    margin-top: auto;
    animation: fade-in 2s linear 0s 1;
    margin-top: 2rem;
}

.footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20%;
}

.footer-nav-links, .social-media-links {
    padding: 1em 0;
}

.footer-links a:hover, .made-by > *:hover  {
    text-decoration: none;
    color: var(--red);
}

@media screen and (max-width: 500px) {
    footer {
        font-size: .7rem;
        line-height: 1.5rem;
    }
}